---
---

<header class="bg-[#023048] text-white p-6 shadow-lg rounded-lg">
  <!-- Logo/Título -->
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 flex justify-between items-center">
    <div class="text-2xl font-semibold">
      <span>Portafolio</span>, <span class="font-light">Gerson Lorenzo</span>
    </div>
  </div>
</header>

<style is:global>
  /* Añadir bordes suaves al header */
  header {
    border-radius: 12px; /* Bordes más suaves */
  }

  /* Agregar transición suave en hover o al cambio de estado */
  header:hover {
    transition: all 0.3s ease-in-out;
  }
</style>
