---
const { title } = Astro.props;
import "../styles/global.css";
import SideBar from "../components/sideBar.astro";
import Header from "../components/header.astro";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? title : 'Portafolio'}</title>
    <link rel="stylesheet" href="/styles/global.css" />
  </head>
  <body class="bg-gray-100">

    <!-- Cabecera común -->
    
      <Header />
    <!-- Contenedor principal con Sidebar -->
    <div class="flex">
      <!-- Sidebar -->
      <SideBar links={Astro.props.navItems} />
      
      <!-- Contenido principal ajustado con margen izquierdo -->
      <main class="p-6 flex-1">
        <!-- El contenido de cada página se renderiza aquí -->
        <slot />
      </main>
    </div>

    <!-- Pie de página común -->
    <footer class="bg-blue-600 text-white text-center p-6">
      <p>&copy; 2025 {title ? title : 'Usuario'}. Todos los derechos reservados.</p>
    </footer>
  </body>
</html>
